<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="generated_robot">
    <xacro:include filename="$(find cboost_macros)/xacro/robot_description.xacro" />
    <xacro:macro name="gz_control" params="ros2_controllers_file">
        <xacro:property name="ros2_controllers" value="${ros2_controllers_file}"/>
        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>${ros2_controllers}</parameters>
                <ros>                
                    <remapping>/controller_manager/robot_description:=/robot_description</remapping>
                </ros>
            </plugin>
        </gazebo>
    </xacro:macro>

    <xacro:gz_control ros2_controllers_file="$(arg ros2_controllers_file)" />

    <xacro:ros2_control name="GazeboSystem" 
    initial_positions_file="$(arg initial_positions_file)" 
    joint_names_file="$(arg joint_names_file)"
    hardware_plugin="gz_ros2_control/GazeboSimSystem"/>
</robot>
