<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ros2_control" params="name initial_positions_file joint_names_file hardware_plugin">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <xacro:property name="joint_names" value="${xacro.load_yaml(joint_names_file)['controller_joint_names']}"/>

        <!-- Loops through joint names and adds to controller -->
        <xacro:macro name="add_joints_loop" params="items:=^">
            <xacro:if value="${items}">
                <!-- pop first item from list -->
                <xacro:property name="item" value="${items.pop(0)}"/>
                <joint name="${item}">
                    <command_interface name="position"/>
                    <state_interface name="position">
                        <param name="initial_value">${initial_positions[(item)]}</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>
                <!-- recursively call myself -->
                <xacro:add_joints_loop/>
            </xacro:if>
        </xacro:macro>

        <xacro:macro name="gazebo_controlled" params="controller">
            <xacro:if value="${controller == 'gz_ros2_control/GazeboSimSystem'}">
                <gazebo>
                    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                        <parameters>$(find hc10dtp)/config/ros2_controllers.yaml</parameters>
                        <ros>                
                            <remapping>/controller_manager/robot_description:=/robot_description</remapping>
                        </ros>
                    </plugin>
                </gazebo>
            </xacro:if>
        </xacro:macro>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>${hardware_plugin}</plugin>
            </hardware>
            <xacro:add_joints_loop items="${joint_names}"/>
        </ros2_control>
    </xacro:macro>
</robot>
