<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="motoman_hc10dtp">
    <!-- Import motoman_hc10dtp urdf file -->
    <xacro:include filename="$(find hc10dtp)/urdf/hc10dtp.urdf.xacro" />

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find hc10dtp)/config/ros2_controllers.yaml</parameters>
            <ros>                
                <remapping>/controller_manager/robot_description:=/robot_description</remapping>
            </ros>
        </plugin>
    </gazebo>

    <xacro:ros2_control name="GazeboSystem" 
    initial_positions_file="$(arg initial_positions_file)" 
    joint_names_file="$(arg joint_names_file)"
    hardware_plugin="gz_ros2_control/GazeboSimSystem"/>

</robot>
