<?xml version="1.0"?>

<model>
  <name>ir_sensor</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author>

  <description>
    IR sensor with reflector for detecting objects using sensor_msgs/Range as output
  </description>
</model>